//== Basic Structure

body,
html {
  height: 100%;
  background-color: $site-background-color;
}

body {
  font-family: $font-family-monospace;
  font-weight: 300;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

header {
  margin: 5vh 5vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
header > .name > h1 { font-size: 15px; color: $pink-base; float: left; margin: 0; padding: 0;}
header > .logo { width: 200px; text-align: center;  margin: 0 auto; display: flex; }

header > nav { width: auto;  float: right;}
header > nav > ul, header > nav > ul > li { list-style: none; margin: 0 0; }
header > nav > ul > li { display: inline; margin: 2vh; }

header > nav > ul > li > a { text-decoration: none; margin: 0; padding: 0; transition: color .35s ease;}
header > nav > ul > li > a { color: $pink-base;}
header > nav > ul > li > a:hover,
header > nav > ul > li > a:active { color: $yellow-text; transform: translateX(-4px);}


header > nav > ul > li > a:after  {
  background-color: #f25757;
  transition: all .25s cubic-bezier(.694,.048,.335,1)
}
header > nav > ul > li > a:before {
  background-color: #235aa6;
  transition: all .25s cubic-bezier(.694,.048,.335,1) .15s
}
header > nav > ul > li > a:after,
header > nav > ul > li > a:before {
  content: "";
  position: absolute;
  bottom: 11px;
  right: 0;
  left: auto;
  width: 0;
  height: 3px;
  z-index: 2
}
@media only screen and (min-width: 64em) {
  header > nav > ul > li > a:hover:after, header > nav > ul > li > a:hover:before {
    width:100%;
    left: 0;
  }
}

footer {
  width: auto;
  height: 50px;
  margin: 0 auto;

  p {
    text-align: center
  }

}
