doctype html
html(lang="en")
  head(itemscope itemtype="http://schema.org/WebSite")
    include includes/head
  body#tiagofernandes.active
    .wrapper
      .wrapper-inner
        .content
          header.inner.clearfix
            h3 logo
            nav
             ul
               li
                a(href="#") LOREM
               li
                a(href="#") IPSUM
               li
                a(href="#") DOLOR

          section.inner
           canvas#test
           h1.hello Lorem ipsum
           p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum lectus ac erat pharetra, eu ultricies nibh congue. Nunc a elementum tellus. Nunc sit amet pretium neque.
    include includes/footer
