doctype html
html(lang="en")
  head(itemscope itemtype="http://schema.org/WebSite")
    include includes/head
  body#tiagofernandes.active
    .loader
    .transition
    nav
    header
    .flex-container
      .wrapper
        .parallax-js#scene
          .logo-container.layer(data-depth="0.25")
            img.logo(src="../img/logo0a.png" alt="Tiago de A. Fernandes" draggable="false")
          .wrapper-bg.layer(data-depth="0.10")
            .bg
  include includes/footer

