doctype html
html(lang="en")
include includes/head
  body#tiagofernandes.active
    div.row
      div.col-md-12
        .loader
        .transition
        header
          div.name TIAGO DE ARAUJO FERNANDES
          div.logo.box
            img.logo(src="../img/logo0a.png" alt="Tiago de A. Fernandes" draggable="false")
          nav
            ul
              li WORK
              li LAB
              li ABOUT
  include includes/footer

