doctype html
html(lang="en")
  head(itemscope itemtype="http://schema.org/WebSite")
    include includes/head
  body#tiagofernandes.active
    .loader
    .transition
    .wrapper
      nav
      header
        .container
          img.logo(src="../img/logo0a.png" alt="Tiago de A. Fernandes" draggable="false")
      main
    include includes/footer
