doctype html
html(lang="en")
  head
    include includes/head
  body#tiagofernandes
    include includes/header
     block header
      h4.hello this is more content to the header
    include includes/content
    include includes/footer
